{% extends './layout.html' %}

{% block title %}
    Página Calendario de Pedidos
{% endblock %}

{% block content %}
    
    <div class="container d-flex justify-content-center align-items-center vh-90" style="margin-bottom: 35px;">
        <div class="col-lg-6 columnaCentral">
            <section class="container mt-custom mb-4"> <!-- Mantenemos la clase mt-custom -->
                <div class="row mb-2"> <!-- Reducimos el margen para un ajuste más preciso -->
                    <div class="col-12 text-center">
                        <h1 class="titulo-principal">Calendario de Pedidos</h1>
                    </div>
                </div>
            
            
            <div class="contenedor-calendar">
                <div class="card">
                    <div class="calendar-toolbar">
                        <button class="prev month-btn">
                        <i class="fas fa-chevron-left"></i>
                        </button>
                        <div class="current-month"></div>
                        <button class="next month-btn">
                        <i class="fas fa-chevron-right"></i>
                        </button>
                    </div>
                    <div class="calendar">
                        <div class="weekdays">
                        <div class="weekday-name">Dom</div>
                        <div class="weekday-name">Lun</div>
                        <div class="weekday-name">Mar</div>
                        <div class="weekday-name">Mie</div>
                        <div class="weekday-name">Jue</div>
                        <div class="weekday-name">Vie</div>
                        <div class="weekday-name">Sab</div>
                        </div>
                        <div class="calendar-days"></div>
                    </div>
                    <div class="goto-buttons">
                        <button type="button" class="btn-cal prev-year" >Año ant.</button>
                        <button type="button" class="btn-cal today" id="todayBtn">Hoy</button>
                        <button type="button" class="btn-cal next-year">Año sig.</button>
                    </div>
                    </div>
            </div>

           


            <div class="contenedor-todo">

                <div class="grilla">            
                  <div class="contenedor-tabla">
                
                    <table id="tabla" class="tablaCalendar">
                        <thead>
                            <tr>
                                <th>Id. Pedido</th>
                                <th>Cliente</th>
                                <th>Fecha Entrega</th>
                                <th>Cantidad</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                        <!-- <tr>
                            <td>Agustin Mansilla</td>
                            <td>19:30hs</td>
                            <td>M3D</td>
                            <td>400</td>
                        </tr>
                        <tr>
                            <td>Agustin Mansilla</td>
                            <td>21:30hs</td>
                            <td>A7X</td>
                            <td>120</td>
                        </tr>
                        <tr>
                            <td>Fabrizio Alvarez</td>
                            <td>12:10hs</td>
                            <td>OOA</td>
                            <td>890</td>
                        </tr>-->
                        <!-- <tr>
                            <td colspan="4">No hay pedidos disponibles</td> 
                        </tr>  -->

                        {% for pedido in pedidos %}
                            <tr>
                                <td>{{ pedido.IdPedido }}</td>
                                <td>{{ pedido.DNICliente }}</td>
                                <td>{{ pedido.FechaDeEntrega }}</td>
                                <td>{{ pedido.CantidadM3 }}</td>
                                <td>{{ pedido.EstadoPedido }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                  </div>
                </div>
            
            </div>

        </section>








        </div>
    </div>
{% endblock %}