{% extends './layout.html' %}

{% block title %}
    Página de Actualización de Precios
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-80">
        <div class="col-lg-6">
            <section class="container mt-custom">
                <div class="row mb-4">
                    <div class="col-12 text-center">
                        <h1 class="titulo-principal">Actualización de Precio</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form method="post" action="{% url 'cambioprecio_sin_id' %}">
                            {% csrf_token %}
                            <div class="form-group"> 
                                <input type="text" name="nuevo_hormigon_nombre" class="form-control" placeholder="Tipo de Hormigon" required>  
                            </div>                          
                            <div class="form-group">
                                <input type="number" name="nuevo_precio" class="form-control" step="0.01" placeholder="Nuevo Precio" required>
                            </div>
                            <input type="submit" value="Modificar Precio"class=" btn btn-primary btn-block btn-inicio">
                        </form>
                    
                        <ul>
                            {% for mensaje in cambios_precio %}
                                <li>{{ mensaje }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>
        </div>
</div>
{% endblock %}