{% extends './layout.html' %}

{% block title %}
    Carga de pedidos
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-90" style="margin-bottom: 35px;">
    <div class="col-lg-6">
        <section class="container mt-custom mb-4"> <!-- Mantenemos la clase mt-custom -->
            <div class="row mb-2"> <!-- Reducimos el margen para un ajuste más preciso -->
                <div class="col-12 text-center">
                    <h1 class="titulo-principal">Carga de Pedidos</h1>
                </div>
            </div>
        </section>
        <form method="post" action="{% url 'cargaPedidos' %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="DNI" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="id_obra" placeholder="Tipo de Obra" required>
            </div>
            <div class="form-group">
                <input type="date" class="form-control" name="fecha_entrega" placeholder="Fecha de Entrega" required>
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="cantidad_m3" placeholder="Cantidad de m3" required>
            </div>
            <div class="form-group">
                <select name="estado_pedido" class="form-control">
                    <option value="Pendiente">Pendiente</option>
                    <option value="Preparacion">Preparación</option>
                    <option value="Cancelado">Cancelado</option>
                    <option value="EnCamino">En Camino</option>
                    <option value="Entregado">Entregado</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-agregar aumentar">Confirmar</button>
        </form>
    </div>
</div>

{% endblock %}