{% extends './layout.html' %}

{% block title %}
    Página de Recuperación de Clave
{% endblock %}


{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-90">
        <div class="col-lg-6">
            <section class="container mt-custom">
                <div class="row mb-4">
                    <div class="col-12 text-center">
                        <h1 class="titulo-principal">Ingresa tu correo para recuperar la contraseña</h1>
                        <br>
                    </div>
                    <div class="col-12 text-center">                       
                        <h2 style="color: white; font-size: 18px; font-family: Poppins, sans-serif;">Te enviaremos las instrucciones con lo que debes hacer.</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form method="post" action="">
                            <div class="form-group mb-4">
                                <input type="email" name="email" class="form-control" placeholder="Correo electrónico" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block btn-inicio">Continuar</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
</div>
{% endblock %}
