{% extends './layout.html' %}

{% block title %}
    Página Calendario de Pedidos
{% endblock %}

{% block content %}
    
    <div class="container d-flex justify-content-center align-items-center vh-90">
        <div class="col-lg-6 columnaCentral">
            <section class="container mt-custom mb-4"> <!-- Mantenemos la clase mt-custom -->
                <div class="row mb-2"> <!-- Reducimos el margen para un ajuste más preciso -->
                    <div class="col-12 text-center">
                        <h1 class="titulo-principal">Grilla de pedidos</h1>
                    </div>
                </div>
            
            
            <div class="contenedor-todo">
                <div class="grilla">            
                  <div class="contenedor-tabla">
                
                    <table id="tabla" class="tablaCalendar">
                        <thead>
                            <tr>
                                <th>Id. Pedido</th>
                                <th>Cliente</th>
                                <th>Fecha Entrega</th>
                                <th>Cantidad</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% if pedidos %}
                            {% for pedido in pedidos %}
                                <tr>
                                    <td>{{ pedido.IdPedido }}</td>
                                    <td>{{ pedido.DNICliente }}</td>
                                    <td>{{ pedido.FechaDeEntrega }}</td>
                                    <td>{{ pedido.CantidadM3 }}</td>
                                    <td>{{ pedido.EstadoPedido }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="5">No hay pedidos disponibles.</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                    
                  </div>
                </div>
                
            </div>
            <a href="/calendarioPedidos" class="btn btn-primary btn-block btn-inicio aumentar" style="padding-top:10px ;">Volver</a>
        </section>








        </div>
    </div>
{% endblock %}