{% extends './layout.html' %}

{% block title %}
    Informes
{% endblock %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center vh-90" style="margin-bottom: 35px;">
    <div class="col-lg-6">
        <section class="container mt-custom mb-4"> <!-- Mantenemos la clase mt-custom -->
            <div class="row mb-2"> <!-- Reducimos el margen para un ajuste más preciso -->
                <div class="col-12 text-center">
                    <h1 class="titulo-principal">Informes</h1>
                </div>
            </div>
        </section>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Cantidad Clientes</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Viajes por día</button>
                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Ventas por semestre</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <!-- Contenido para la pestaña "Cantidad Clientes" -->
                <h2 class="recuadro">Cantidad de Clientes</h2>
                <p class="recuadrop">Este es el contenido relacionado con la cantidad de clientes...</p>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <!-- Contenido para la pestaña "Viajes por día" -->
                <h2 class="recuadro">Viajes por Día</h2>
                <p class="recuadrop">Este es el contenido relacionado con los viajes por día...</p>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <!-- Contenido para la pestaña "Ventas por semestre" -->
                <h2 class="recuadro">Ventas por Semestre</h2>
                <p class="recuadrop">Este es el contenido relacionado con las ventas por semestre...</p>
            </div>
        </div>
        <div class="text-center mb-2"> 
            <button type="submit" class="btn btn-primary btn-block btn-eliminar aumentar">Volver</button>
        </div>
    </div>
</div>

{% endblock %}