{% extends './layout.html' %}

{% block title %}
    Informes
{% endblock %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center vh-90">
    <div class="col-lg-6">
        <section class="container mt-custom mb-4"> <!-- Mantenemos la clase mt-custom -->
            <div class="row mb-2"> <!-- Reducimos el margen para un ajuste más preciso -->
                <div class="col-12 text-center">
                    <h1 class="titulo-principal">Informes</h1>
                </div>
            </div>
        </section>
        
    </div>
</div>

{% endblock %}