{% extends './layout.html' %}

{% block title %}
    Pagina Principal de Activades del Usuario
{% endblock %}


{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="col-lg-6">
            <section class="container mt-custom">
                <div class="row mb-4">
                    <div class="col-12 text-center">
                        <h1 class="titulo-principal">Ingresa tus datos para iniciar sesión</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>BIENVENIDO A TU MENU DE ACCIONES</h1>
                    </div>
                </div>
            </section>
        </div>
</div>
{% endblock %}

