{% extends './layout.html' %}

{% block title %}
    Pagina Principal de Activades del Usuario
{% endblock %}


{% block content %}
<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col-12 col-lg-8">            
            <section class="mt-custom mb-4">
                
                <div class="row mb-4 justify-content-center contenedor-titulo">  
                    <img src="../../static/Titulos/Banner.png" alt="" class="img-fluid">           
                </div>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="row row-cols-1 row-cols-md-3 g-3">
                            <div class="col-md-4">
                                <a href="{% url 'cambioprecio_sin_id' %}" class="card-link">
                                    <div class="card custom-card bg-custom">
                                        <img src="../../static/icons/etiqueta-del-precio.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <hr class="linea">
                                            <h5 class="card-title">ACTUALIZACIÓN DE PRECIOS</h5>
                                            <p class="card-text">Ajusta el valor según el tipo de hormigón de manera eficiente y precisa.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- Repite este bloque para las otras tarjetas -->
                            <div class="col-md-4">
                                <a href="{% url 'usuariocreado' %}" class="card-link">
                                    <div class="card custom-card bg-custom">
                                        <img src="../../static/icons/gestion-de-equipos.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <hr class="linea">
                                            <h5 class="card-title">GESTIONAR USUARIOS</h5>
                                            <p class="card-text">Crea, modifica y elimina usuarios de manera eficiente y segura.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="{% url 'informes' %}" class="card-link">
                                    <div class="card custom-card bg-custom">
                                        <img src="../../static/icons/informe.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <hr class="linea">
                                            <h5 class="card-title">INFORMES</h5>
                                            <p class="card-text">Genera los reportes detallados y análisis de datos para informar sobre el desempeño y las tendencias del negocio.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}
