<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link rel="stylesheet" type="text/css" href="static/login.css">
    <script src="static/java.js"></script>

    <title>Página de Inicio de Sesión</title>
</head>
<body class="cuerpo">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: black">
        <div class="container-fluid" >
            <a class="navbar-brand my-logo" href="#">
                
                <img src="static/hc.jpg" alt="Logo de mi empresa" class="img-fluid float-left">
            </a>
        </div>
    </nav>

    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="col-lg-6">
            <section class="container mt-custom">
                <div class="row mb-4">
                    <div class="col-12 text-center">
                        <h1 class="titulo-principal">Ingresa tus datos para iniciar sesión</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <div class="form-group mb-4">
                                <input type="text" class="form-control" id="inputUser" placeholder="Usuario">
                            </div>
                            <div class="form-group mb-4">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña">
                            </div>
                            <div class="form-group mb-4">
                                <a href="#">¿Olvidaste tu contraseña?</a>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>

