@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
/*-----------------------------------Login-----------------------------*/
body {
    background-color: black;
}
nav {
    margin-bottom: 6rem; /* Agrega un margen inferior al navbar utilizando las clases de Bootstrap */
    margin-left: 20px;
}
.navegador {
    width: 100%;
    margin-left: 70px;
}

.my-logo {
    padding: 0;
}

.my-logo img {
    width: 100px;
}

.vh-100 {
    height: 65vh;
}

.titulo-principal {
    color: white;
    font-size: 2rem; /* Ajusta el tamaño del título */
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}
/* SIDEBAR */


.my-logo img {
    width: 100px;
    margin-left: 0px;
}

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: black;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: rgb(252, 252, 252);
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .7s ease-in-out;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
    outline:none;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
    outline:none;
}

.sidebar-logo {
    margin: auto 0;
    transition: all .7s ease-out;
    outline:none;
}


.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
    transition: all .10s ease-out;
    outline:none;
}



#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}




#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .7s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .7s ease-out;
}

/* .contenedor{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
} */


.navbar{
    margin-left: 20px;
}

.wrapper{
    margin-top: -80px;
    height: 100px;
}



.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
    transition: transform 0.7s ease-in-out; /* Agrega la propiedad de transición */
    outline: none;
}

.toggle-btn.rotated {
    transform: rotate(-90deg); /* Aplica la rotación */
    outline: none;
}


.parte2{
    position: fixed;
    top: 200px;
    left: -100%; /* Inicialmente fuera de la pantalla */
    width: 100%;
    height: 100%;
    background-color: black; /* Fondo semi-transparente para cubrir la pantalla */
    z-index: 1000; /* Asegura que la parte 2 esté encima de la parte 1 */
    overflow-y: auto;
}



/*  */


.form-control {
    max-width: 100%;
    width: 100%; /* Cambia el ancho del formulario para que sea más flexible */
    height: 3.125rem;
    border-radius: 1.5625rem;
    outline: 0;
    font-size: 1.125rem;
    padding-left: 1.25rem;
    border: 1px solid #646464;
    color: #fff;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
}



.form-control:focus{
    background-color: transparent;
}


#inputForm {
    background-color: transparent; /* Establece el fondo inicialmente transparente */
    color: white;
}

.btn-inicio {
    background: linear-gradient(270deg, #005c95 0, #019fda 100%);
    color: white;
    border-radius: 1.5625rem;
    font-family: "Poppins", sans-serif;
    max-width: 100%;
    width: 100%; /* Cambia el ancho del botón para que sea más flexible */
    height: 3.125rem;
    border-radius: 1.5625rem;
    outline: 0;
    font-size: 1.125rem;
    padding-left: 1.25rem;
}

/* --------------------------Registro--------------------------------------*/


/* Estilo para el botón "Agregar" */
.btn-agregar {
    /* Agrega tus estilos personalizados aquí */
    background: linear-gradient(270deg, #005c95 0, #019fda 100%);
    color: #fff;
    border-radius: 1.5625rem;
    border: none; /* Quita el borde */
    font-family: "Poppins", sans-serif;
    max-width: 100%;
    width: 100%; /* Cambia el ancho del botón para que sea más flexible */
    height: 3.125rem;
    border-radius: 1.5625rem;
    outline: 0;
    font-size: 1.125rem;
    padding-left: 1.25rem;
}

/* Estilo para el botón "Modificar" */
.btn-modificar {
    /* Agrega tus estilos personalizados aquí */
    background:linear-gradient(270deg,#088f4cf5 0, #64de64 100%);
    color: #fff;
    border: none; /* Quita el borde */
    border-radius: 1.5625rem;
    
    font-family: "Poppins", sans-serif;
    max-width: 100%;
    width: 100%; /* Cambia el ancho del botón para que sea más flexible */
    height: 3.125rem;
    border-radius: 1.5625rem;
    outline: 0;
    font-size: 1.125rem;
    padding-left: 1.25rem;
}

/* Estilo para el botón "Eliminar" */
.btn-eliminar {
    /* Agrega tus estilos personalizados aquí */
    background: linear-gradient(270deg, #833535  0, #FF0000  100%);
    color: #fff;
    border: none; /* Quita el borde */
    border-radius: 1.5625rem;
    font-family: "Poppins", sans-serif;
    max-width: 100%;
    width: 100%; /* Cambia el ancho del botón para que sea más flexible */
    height: 3.125rem;
    border-radius: 1.5625rem;
    outline: 0;
    font-size: 1.125rem;
    padding-left: 1.25rem;
}


/* Estilo para el botón "Consultar" */
.btn-consultar {
    /* Agrega tus estilos personalizados aquí */
    background: linear-gradient(to right, #FFD700 0%, #333333 100%);

    color: #fff;
    border: none; /* Quita el borde */
    border-radius: 1.5625rem;
    font-family: "Poppins", sans-serif;
    max-width: 100%;
    width: 100%; /* Cambia el ancho del botón para que sea más flexible */
    height: 3.125rem;
    border-radius: 1.5625rem;
    outline: 0;
    font-size: 1.125rem;
    padding-left: 1.25rem;
}





.mt-custom-3 {
    margin-top: -1 rem; /* Ajustamos el margen superior según sea necesario */
}
/* codigoVerifiación */

/* Estilos para los inputs */
/* Estilos para los inputs */
.custom-input {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid #ccc;
    background-color: black;
    text-align: center;
    color: #888;
    margin-right: 10px; /* Espacio entre los inputs */
}

.input-container {
    display: flex;
}

.input-error {
    border-color: red;
}

.custom-input:focus {
    background-color: transparent; /* Puedes cambiar a "transparent" o "black" según tu preferencia */
}

/* Carga de Pedidos css, colocando icons al lado de los inputs */
.form-group {
    display: flex;
    align-items: center;
}

.form-control {
    flex: 1; /* El input tomará el espacio restante */
}

.icon {
    margin-left: 5px; /* Ajusta el espacio entre el input y el icono según sea necesario */
    font-size: 25px;
}

/* Formulario carga pedidos */

.table {
    background-color: white;
    color: black;
    text-align: center;
}

/* Estilos para las celdas de encabezado */
.table th {
    background-color: #ccc; /* Color de fondo del encabezado */
}

/* Estilos para las celdas de datos */
.table td {
    border: 1px solid #ddd; /* Borde de las celdas de datos */
    padding: 8px; /* Espaciado interno de las celdas de datos */
}

.mr-3 {
    color: #fff;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    font-size: 1.125rem;
}

.icons-container .btn {
    display: inline-block ;
    width: auto ;
}

.icons-container .btn-grande {
    font-size: 1.2rem; /* Ajusta el tamaño de la fuente */
    padding: 12px 24px; /* Ajusta el relleno para hacer los botones más grandes */
}

.transparent-input {
    background-color: transparent !important;
    box-shadow: none; /* Elimina la sombra si es necesarioss */
}


/* Consulta pedido por cliente */

.btn-transparent {
    background-color: transparent;
    border: none;
    font-size: 24px; /* Tamaño del botón personalizado */
    padding: 10px 20px; /* Relleno del botón personalizado */
}

/* map */

#map {
    height: 500px;
    width: 100%;
}

/* AsignacionModulos */

.fila {
    color: black;
}

.btn-custom-celeste {
    background-color: #56cff0; /* Cambia este valor por el color celeste que desees */
    color: black; /* Texto en color blanco */
    /* Puedes agregar más estilos según sea necesario */
}


/*  */

















/* ========== CALENDAR ========== */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

.card {
    width: 350px;
    height: fit-content;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #efefef;
    text-align: center;
    margin-left: 80px;
    margin-top: 40px;
  }
  
  .calendar-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #efefef;
  }
  
  .calendar-toolbar > .current-month {
    font-size: 20px;
    font-weight: bold;
    color: #19181a;
  }
  
  .calendar-toolbar > [class$="month-btn"] {
    width: 40px;
    aspect-ratio: 1;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    color: #19181a;
    background: #f8f7fa;
    border: none;
    border-radius: 15px;
  }
  
  .weekdays,
  .calendar-days {
    display: flex;
    flex-wrap: wrap;
    padding-inline: 18px;
  }
  .weekdays {
    padding-top: 12px;
    display: flex;
    justify-content: center;
  }
  .calendar-days {
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
  }
  
  .weekday-name,
  [class$="-day"] {
    width: 40px;
    height: 40px;
    color: #19181a;
    text-align: center;
    line-height: 40px;
    font-weight: 500;
    font-size: 1rem;
  }
  
  .weekday-name {
    color: #19181a;
    font-weight: 700;
  }
  
  .current-day {
    background-color:white;
    color: #19181a;
    border-radius: 15px;
    font-weight: 700;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .padding-day {
    color: #a5a5a5;
    user-select: none;
  }
  
  .calendar-toolbar > [class$="month-btn"]:hover,
  .month-day:hover,
  .btn-cal:hover {
    border-radius: 15px;
    background-color: white;
    color:  rgb(156, 0, 0);
    transition: 0.1s;
    cursor: pointer;
    box-shadow: inset 0px 0px 0px 1.5px rgb(156, 0, 0);
  }
  
  .calendar-toolbar > [class$="month-btn"]:focus,
  .month-day:focus,
  .btn-cal:focus {
    border-radius: 15px;
    background-color: white;
    color: rgb(156, 0, 0);
  }
  
  .goto-buttons {
    border-top: 1px solid #efefef;
    padding-block: 18px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .btn-cal {
    background: #f8f7fa;
    border: none;
    border-radius: 15px;
    padding: 11px 13px;
    color: #19181a;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    margin-right: 1px;
    box-shadow: 0px 0px 0px #efefef;
  }
  
  .prev-month,
  .next-month {
    width: 40px;
    height: 40px;
    color: #a5a5a5;
    text-align: center;
    line-height: 40px;
    font-weight: 500;
    font-size: 1rem;
  }
  
  .prev-month:hover,
  .next-month:hover {
    border-radius: 15px;
    background-color: #f8f7fa;
    color: rgb(156, 0, 0);
    transition: 0.1s;
    cursor: pointer;
    box-shadow: inset 0px 0px 0px 1.5px rgb(156, 0, 0);
  }
  
  .prev-month:focus,
  .next-month:focus {
    border-radius: 15px;
    background-color: rgbrgb(156, 0, 0);
    color: #f8f7fa;
  }
  
  
  .month-day.selected-day {
    border-radius: 15px;
    background-color:rgb(156, 0, 0);
    color: white;
    transition: 0.1s;
    cursor: pointer;
    box-shadow: inset 0px 0px 0px 1.5px rgb(156, 0, 0);
    
  }

  .tablaCalendar {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
    color: white;
  }

  th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    max-width: 210px !important;
    max-height: 70px;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space:nowrap;  
  }


  th {
    background-color: rgb(156, 0, 0);
    color: white;
  }

  /* 
  .contenedor-todo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  } */
 
  .contenedor-tabla{
    width: 800px;
    max-height: 650px;
    overflow-y: auto;
    margin-left: -100px;
  }

  .grilla{
    margin-top: 40px;
    margin-bottom: 40px;
  }

  /* #volverBtn {
    font-family: 'Quicksand';
    background-color: rgb(156, 0, 0);
    color: white;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #volverBtn:hover {
    background-color: darkred;
  } */


  .columnaCentral{
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .contenedor-calendar{
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  

  .aumentar{
    transition: transform 0.3s ease; 
  }
  .aumentar:hover{
    transform: scale(1.05); 
  }
