/*-----------------------------------Login-----------------------------*/
body {
    background-color: black;
}
nav {
    margin-bottom: 6rem; /* Agrega un margen inferior al navbar utilizando las clases de Bootstrap */
}
.navegador {
    width: 100%;
    margin-left: 0;
}

.my-logo {
    padding: 0;
}

.my-logo img {
    width: 100px;
}

.vh-100 {
    height: 65vh!important;
}

.titulo-principal {
    color: white;
    font-size: 2rem; /* Ajusta el tamaño del título */
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}



.form-control {
    max-width: 100%;
    width: 100%; /* Cambia el ancho del formulario para que sea más flexible */
    height: 3.125rem;
    border-radius: 1.5625rem;
    outline: 0;
    font-size: 1.125rem;
    padding-left: 1.25rem;
    border: 1px solid #646464;
    color: #fff;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
}



.form-control:focus{
    background-color: transparent;
}


#inputForm {
    background-color: transparent; /* Establece el fondo inicialmente transparente */
    color: white;
}

.btn-inicio {
    background: linear-gradient(270deg, #005c95 0, #019fda 100%);
    color: white;
    border-radius: 1.5625rem;
    font-family: "Poppins", sans-serif;
    max-width: 100%;
    width: 100%; /* Cambia el ancho del botón para que sea más flexible */
    height: 3.125rem;
    border-radius: 1.5625rem;
    outline: 0;
    font-size: 1.125rem;
    padding-left: 1.25rem;
}

/* --------------------------Registro--------------------------------------*/


/* Estilo para el botón "Agregar" */
.btn-agregar {
    /* Agrega tus estilos personalizados aquí */
    background: linear-gradient(270deg, #005c95 0, #019fda 100%);
    color: #fff;
    border-radius: 1.5625rem;
    border: none; /* Quita el borde */
    font-family: "Poppins", sans-serif;
    max-width: 100%;
    width: 100%; /* Cambia el ancho del botón para que sea más flexible */
    height: 3.125rem;
    border-radius: 1.5625rem;
    outline: 0;
    font-size: 1.125rem;
    padding-left: 1.25rem;
}

/* Estilo para el botón "Modificar" */
.btn-modificar {
    /* Agrega tus estilos personalizados aquí */
    background:linear-gradient(270deg,#088f4cf5 0, #64de64 100%);
    color: #fff;
    border: none; /* Quita el borde */
    border-radius: 1.5625rem;
    
    font-family: "Poppins", sans-serif;
    max-width: 100%;
    width: 100%; /* Cambia el ancho del botón para que sea más flexible */
    height: 3.125rem;
    border-radius: 1.5625rem;
    outline: 0;
    font-size: 1.125rem;
    padding-left: 1.25rem;
}

/* Estilo para el botón "Eliminar" */
.btn-eliminar {
    /* Agrega tus estilos personalizados aquí */
    background: linear-gradient(270deg, #833535  0, #FF0000  100%);
    color: #fff;
    border: none; /* Quita el borde */
    border-radius: 1.5625rem;
    font-family: "Poppins", sans-serif;
    max-width: 100%;
    width: 100%; /* Cambia el ancho del botón para que sea más flexible */
    height: 3.125rem;
    border-radius: 1.5625rem;
    outline: 0;
    font-size: 1.125rem;
    padding-left: 1.25rem;
}


/* Estilo para el botón "Consultar" */
.btn-consultar {
    /* Agrega tus estilos personalizados aquí */
    background: linear-gradient(to right, #FFD700 0%, #333333 100%);

    color: #fff;
    border: none; /* Quita el borde */
    border-radius: 1.5625rem;
    font-family: "Poppins", sans-serif;
    max-width: 100%;
    width: 100%; /* Cambia el ancho del botón para que sea más flexible */
    height: 3.125rem;
    border-radius: 1.5625rem;
    outline: 0;
    font-size: 1.125rem;
    padding-left: 1.25rem;
}





.mt-custom-3 {
    margin-top: -1 rem; /* Ajustamos el margen superior según sea necesario */
}
/* codigoVerifiación */

/* Estilos para los inputs */
/* Estilos para los inputs */
.custom-input {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid #ccc;
    background-color: black;
    text-align: center;
    color: #888;
    margin-right: 10px; /* Espacio entre los inputs */
}

.input-container {
    display: flex;
}

.input-error {
    border-color: red;
}

.custom-input:focus {
    background-color: transparent; /* Puedes cambiar a "transparent" o "black" según tu preferencia */
}

/* Carga de Pedidos css, colocando icons al lado de los inputs */
.form-group {
    display: flex;
    align-items: center;
}

.form-control {
    flex: 1; /* El input tomará el espacio restante */
}

.icon {
    margin-left: 5px; /* Ajusta el espacio entre el input y el icono según sea necesario */
    font-size: 25px;
}

/* Formulario carga pedidos */

.table {
    background-color: white;
    color: black;
    text-align: center;
}

/* Estilos para las celdas de encabezado */
.table th {
    background-color: #ccc; /* Color de fondo del encabezado */
}

/* Estilos para las celdas de datos */
.table td {
    border: 1px solid #ddd; /* Borde de las celdas de datos */
    padding: 8px; /* Espaciado interno de las celdas de datos */
}

.mr-3 {
    color: #fff;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    font-size: 1.125rem;
}

.icons-container .btn {
    display: inline-block ;
    width: auto ;
}

.icons-container .btn-grande {
    font-size: 1.2rem; /* Ajusta el tamaño de la fuente */
    padding: 12px 24px; /* Ajusta el relleno para hacer los botones más grandes */
}

.transparent-input {
    background-color: transparent !important;
    box-shadow: none; /* Elimina la sombra si es necesarioss */
}


/* Consulta pedido por cliente */

.btn-transparent {
    background-color: transparent;
    border: none;
    font-size: 24px; /* Tamaño del botón personalizado */
    padding: 10px 20px; /* Relleno del botón personalizado */
}

/* map */

#map {
    height: 500px;
    width: 100%;
}

/* AsignacionModulos */

.fila {
    color: black;
}

.btn-custom-celeste {
    background-color: #56cff0; /* Cambia este valor por el color celeste que desees */
    color: black; /* Texto en color blanco */
    /* Puedes agregar más estilos según sea necesario */
}